

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: -webkit-linear-gradient(90deg,rgba(154, 140, 152, 1) 0%, rgba(34, 34, 59, 1) 100%);
  font-family: Roboto-Light;
  line-height: 1.8;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style-type: none;
}
@media (min-width: 1400px) {
  .container{
    font-family: Roboto-Light;
    width:auto;
    margin: 0 auto;
  }
}

ul{
  font-family: Roboto-Light;
  padding-left: 0;
}

a:hover, a:focus{
  text-decoration: none;
}

.header--bg {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.header--bg:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header__content{
  font-family: Roboto-Light;
  padding-bottom: 20px;
  color: #c9ada7ff;
}

.header__content__block{
  font-family: Roboto-Light;
  font-size: 50px;
  font-weight: bold;
  
}

.header__content__title{
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
}

.header__content__sub-title li{
  display: inline-block;
  font-size: 15px;
}

.header__content__sub-title .padding{
  padding-right: 13px;
  padding-left: 13px;
}

.header__button{
  padding: 11px 30px;
  background-color: #c9ada7ff;
  border-radius: 30px;
  display: inline-block;
  font-size: 15px;
  color: #4a4e69ff;
  font-family: Roboto-Light;
  font-weight: bold;
  margin-top: 30px;
}
.header__button:hover{
  color: #fff;
  background-color: #4a4e69ff;
}

.navbar{
  padding-top:30px;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-brand{
  font-size: 25px;
  font-family: Roboto-Light;
  font-weight: bold;
  background: url("../assets/images/logo2.png") no-repeat;
  padding-left: 45px;
  background-position: left center;
}

@media (min-width: 768px) {
  .nav{
    float: right;
  }
}

.page-section{
	margin-top: 40px;
}

.page-section__title{
  font-size: 35px;
  color: #c9ada7ff;
  text-align: center;
  font-weight: bold;
}

.page-section__title-style{
  display: block;
  margin-right: auto;
  margin-left: auto;
  
}

.page-section__paragraph{
  font-size: 20px;
  color: #c9ada7ff;
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  list-style: none;
}

  .page-section__paragraph__portfolio{
    font-size: 20px;
    color: #c9ada7ff;
    max-width: 540px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    list-style: none;
  }

.page-section__paragraph--white{
  color: #c9ada7ff;
  line-height: 1.8;
}

.username{
  font-size: 15px;
  color: #f2e9e4ff;
  margin-bottom: 0;
}

.about__content{
  padding-top: 70px;
}

.about__description{
  font-size: 30px;
  color: #f2e9e4ff;
  padding-bottom: 25px;
  display: block;
}

.about__bio{
  font-size: 15px;
}

.about__bio strong{
  font-size: 15px;
  color: #c9ada7ff;
  font-family: Roboto-Light;
}

.button{
	padding: 12px 55px 12px 55px;
  font-family: Roboto-Light;
  font-weight: bold;
  border-radius: 30px;
  font-size: 15px;
}

.button:hover{
  color: #273f59;
  background-color: #c9ada7ff;
}
/*--space-cadet: #22223bff;
--ultra-violet: #4a4e69ff;
--rose-quartz: #9a8c98ff;
--pale-dogwood: #c9ada7ff;
--isabelline: #f2e9e4ff;*/

.button--colorful{
  background-color: #4a4e69ff;
  font-family: Roboto-Light;
  color: #fff;
}

.button--colorful:visited,
.button--colorful:active {
  color: #fff;
}

.button--default{
  color: #455a64;
  background-color: #c9ada7ff;
  
}

.button--default:hover{
  background-color: #4a4e69ff;
  color: #fff;
}

.button--margin{
  display: inline-block;
  margin-top: 40px;
}

.portfolio .button{
  display: inline-block;
  padding: 12px 45px 8px 45px;
  margin-bottom: 20px;
}

.portfolio__button-group{
  text-align: center;
  margin-bottom: 60px;
}

.portfolio__single-section{
  font-family: Roboto-Light;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.portfolio__single-section__image{
  display: block;
  height: auto;
}

.portfolio__single-section h4{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.portfolio__single-section p{
  font-weight: 15px;
  color: #fff;
  font-weight: bold;
}


.portfolio__single-section .overlay-content{
  position: absolute;
  bottom: 25px;
  margin-left: 35px;
  z-index: 10;
}



.footer{
  font-family: Roboto-Light;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title{
  font-family: Roboto-Light;
  font-size: 30px;
  color: #273f59;
  font-family: Roboto-Light;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer__contact-information li{
  display: inline-block;
}

.footer__contact-information li a {
  font-family: Roboto-Light;
  font-size: 15px;
  color: #9ca1a3;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.footer__contact-information .material-icons{
  font-size:30px;
  padding-right: 10px;
  position: relative;
  top: 3px;
  font-family: Roboto-Light;
}

.footer .social-icon{
  margin-bottom: 20px;
}

.footer .social-icon ul li{
  padding-right: 20px;
  margin-top: 50px;
}

.footer__paragraph{
  font-size: 30px;
  color: #fff;
  font-family: Roboto-Light;
}
/* CSS HEX
--space-cadet: #22223bff;
--ultra-violet: #4a4e69ff;
--rose-quartz: #9a8c98ff;
--pale-dogwood: #c9ada7ff;
--isabelline: #f2e9e4ff;


/* SCSS HEX
$space-cadet: #22223bff;
$ultra-violet: #4a4e69ff;
$rose-quartz: #9a8c98ff;
$pale-dogwood: #c9ada7ff;
$isabelline: #f2e9e4ff;



SCSS RGB
$space-cadet: rgba(34, 34, 59, 1);
$ultra-violet: rgba(74, 78, 105, 1);
$rose-quartz: rgba(154, 140, 152, 1);
$pale-dogwood: rgba(201, 173, 167, 1);
$isabelline: rgba(242, 233, 228, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-right: linear-gradient(90deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-bottom: linear-gradient(180deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-left: linear-gradient(270deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-top-right: linear-gradient(45deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-bottom-right: linear-gradient(135deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-top-left: linear-gradient(225deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-bottom-left: linear-gradient(315deg, #22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
$gradient-radial: radial-gradient(#22223bff, #4a4e69ff, #9a8c98ff, #c9ada7ff, #f2e9e4ff);
*/